In [1]:
# Import the dependencies.
   # 1. Use Pandas to read our CSV file & create the locations and measurements from the DataFrame.
   # 2. Use gmaps and the API key to create heatmaps and the locations map.
   # 3. Use the requests dependency to make a request to the Google Places JSON file.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2022-11-16 09:23:16,38.5167,-28.7000,68.40,88,75,21.85
1,1,Rikitea,PF,2022-11-16 09:19:17,-23.1203,-134.9692,74.86,83,100,20.74
2,2,Vanimo,PG,2022-11-16 09:23:17,-2.6741,141.3028,79.86,83,78,4.50
3,3,Alagoinhas,BR,2022-11-16 09:23:17,-12.1356,-38.4192,73.24,92,84,3.76
4,4,Kodiak,US,2022-11-16 09:23:18,57.7900,-152.4072,44.11,93,100,23.02

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure/tell gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Assign the locations to an array of latitude and longitude pairs.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Convert the above for loop to list comprehension.
max_temp = [max(temp, 0) for temp in max_temp]

# So the the heatmap variable will look like:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Conditional Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vanimo,PG,2022-11-16 09:23:17,-2.6741,141.3028,79.86,83,78,4.50
9,9,Souillac,MU,2022-11-16 09:23:20,-20.5167,57.5167,79.18,53,40,11.50
16,16,Hambantota,LK,2022-11-16 09:23:23,6.1241,81.1185,82.74,89,75,8.05
21,21,Pandan,PH,2022-11-16 09:23:25,14.0453,124.1694,80.08,88,100,9.53
23,23,Bandarbeyla,SO,2022-11-16 09:23:26,9.4942,50.8122,83.32,61,4,17.98
26,26,Vaini,TO,2022-11-16 09:23:27,-21.2000,-175.2000,77.04,75,6,6.98
27,27,Butaritari,KI,2022-11-16 09:23:28,3.0707,172.7902,81.21,76,76,13.71
33,33,Atuona,PF,2022-11-16 09:23:30,-9.8000,-139.0333,77.47,77,43,11.48
44,44,Bambous Virieux,MU,2022-11-16 09:23:35,-20.3428,57.7575,79.05,53,40,11.50
46,46,Sao Filipe,CV,2022-11-16 09:24:35,14.8961,-24.4956,75.76,67,35,0.76

In [17]:
# To determine if there are any null values.
preferred_cities_df.count()

City_ID       159
City          159
Country       158
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2            Vanimo      PG     79.86  -2.6741  141.3028
9          Souillac      MU     79.18 -20.5167   57.5167
16       Hambantota      LK     82.74   6.1241   81.1185
21           Pandan      PH     80.08  14.0453  124.1694
23      Bandarbeyla      SO     83.32   9.4942   50.8122
26            Vaini      TO     77.04 -21.2000 -175.2000
27       Butaritari      KI     81.21   3.0707  172.7902
33           Atuona      PF     77.47  -9.8000 -139.0333
44  Bambous Virieux      MU     79.05 -20.3428   57.7575
46       Sao Filipe      CV     75.76  14.8961  -24.4956

In [19]:
# Set parameters to search for a hotel. Add the parameters as a dictionary of strings using params.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame using the iterrows() function.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vanimo,PG,79.86,-2.6741,141.3028,Vahmoneh Lodge Vanimo
9,Souillac,MU,79.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
16,Hambantota,LK,82.74,6.1241,81.1185,Bungalow 63
21,Pandan,PH,80.08,14.0453,124.1694,Bonifacio Lodge
23,Bandarbeyla,SO,83.32,9.4942,50.8122,JABIR HOTEL
26,Vaini,TO,77.04,-21.2000,-175.2000,Keleti Beach Resort
27,Butaritari,KI,81.21,3.0707,172.7902,Isles Sunset Lodge
33,Atuona,PF,77.47,-9.8000,-139.0333,Villa Enata
44,Bambous Virieux,MU,79.05,-20.3428,57.7575,Casa Tia Villa
46,Sao Filipe,CV,75.76,14.8961,-24.4956,Hotel Xaguate

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
# Add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))